---
import { marked } from "marked";
import Button from "./Button.astro";
import siteConfig from "../data/site-config";

const hero = siteConfig.hero;
---

{
  (hero?.title ||
    hero?.image?.src ||
    hero?.text ||
    (hero?.actions && hero.actions.length > 0)) && (
    <section class="">
      {hero.title && <h1 class="">{hero.title}</h1>}
      {hero.image?.src && (
        <figure>
          <img
            class="w-full"
            src={hero.image.src}
            loading="lazy"
            decoding="async"
            alt={hero.image.alt || ""}
          />
          {hero.image.caption && (
            <figcaption class="">{hero.image.caption}</figcaption>
          )}
        </figure>
      )}
      {/* {hero.text && <h1 class="heroText" set:html={marked.parse(hero.text)} />} */}
      {hero.text && <h1 class="heroText" set:html={hero.text} />}
      {/* {hero.actions && hero.actions.length > 0 && (
        <div class="">
          {hero.actions.map((action) => (
            <Button href={action.href}>{action.text}</Button>
          ))}
        </div>
      )} */}
    </section>
  )
}

<style>
  .heroText {
    font-size: clamp(1.5rem, 0.2727rem + 5.4545vw, 2.8rem);
  }
</style>
