---
import { type CollectionEntry } from "astro:content";
import ArrowRight from "../icons/ArrowRight.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"blog">;
  class?: string;
  headingLevel?: "h2" | "h3";
};

const { post, class: className, headingLevel = "h2" } = Astro.props;
const { title, publishDate, updatedDate, excerpt } = post.data;
const TitleTag = headingLevel;
---

<a class:list={["postPreview", className]} href={`/blog/${post.slug}/`}>
    <FormattedDate date={publishDate} />
    {
      updatedDate && (
        <>
          {" "}
          <span>
            (Updated on <FormattedDate date={updatedDate} />)
          </span>
        </>
      )
    }
  <TitleTag class="postTitle">
    {title}
  </TitleTag>

  {excerpt && <div class="postExcerpt">{excerpt}</div>}
  <!-- <div class="">
    Read Post <ArrowRight class="" />
  </div> -->
  <div class="readPost">Read Post ➡️</div>
</a>

<style>
  .postPreview {
    text-decoration: none;
    color: inherit;
  }

.postTitle {
  margin-top: .4rem;
}

.postExcerpt {
font-size: clamp(0.9375rem, 0.7841rem + 0.6818vw, 1.125rem);
}

.readPost {
  margin-top: 1.5rem;  text-decoration: underline;
  font-weight: 500;
text-decoration: none;
}

</style>
