---
import { type CollectionEntry } from "astro:content";
import ArrowRight from "../icons/ArrowRight.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"blog">;
  class?: string;
  headingLevel?: "h2" | "h3";
};

const { post, class: className, headingLevel = "h2" } = Astro.props;
const { title, publishDate, updatedDate, excerpt } = post.data;
const TitleTag = headingLevel;
---

<a class:list={["postPreview", className]} href={`/blog/${post.slug}/`}>
  <FormattedDate date={publishDate} />
  {
    updatedDate && (
      <>
        {" "}
        <span>
          (Updated on <FormattedDate date={updatedDate} />)
        </span>
      </>
    )
  }
  <TitleTag class="postTitle">
    {title}
  </TitleTag>

  {excerpt && <p class="postExcerpt">{excerpt}</p>}
  <!-- <div class="">
    Read Post <ArrowRight class="" />
  </div> -->
  <div class="readPost">
    Read Post <span class="hoverHide">👀</span><span class="hoverShow">➡️</span>
  </div>
</a>

<style>
  .postPreview {
    text-decoration: none;
    color: inherit;

    &:hover {
      .hoverHide {
        display: none;
        opacity: 0;
      }

      .hoverShow {
        display: inline;
        opacity: 1;
      }
    }
  }

  .postTitle {
    margin-top: 0.4rem;
  }

  .readPost {
    margin-top: 1.5rem;
    color: var(--color-base-90);
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }

  .hoverHide,
  .hoverShow {
    transition: display 0.25s , opacity 0.25s;
    /* transition-behavior: allow-discrete; */
  }

  .hoverShow {
    display: none;
    opacity: 0;
  }
</style>
