---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "@astrojs/image/components";
import SideBarMenu from "./SideBarMenu.astro";
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
const { sideBarActiveItemID } = Astro.props;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside
    class="px-2 pt-2 h-auto min-h-full bg-base-200 lg:w-[40dvw] text-base-content flex flex-col"
  >
    <a class="block w-fit mx-auto mt-5 mb-6" href="/">
      <Image
        aspectRatio="3:4"
        format="webp"
        width={300}
        height={400}
        src="/profile.jpg"
        alt="Profile image"
      />
    </a>

    <div class="pb-12 mt-5">
      <h1>
        <span class="block text-xl py-1">👋 I'm Filip and I really like to</span
        >
        <span class="block text-5xl font-bold"
          >Create, solve problems, make pretty things along the way
        </span>
      </h1>
      <div class="mt-8">
        <a
          class="btn"
          href="https://twitter.com/manuelernestog"
          target="_blank"
        >
          Let's connect!</a
        >
      </div>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />

    {
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + post.slug}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
    }
    <SideBarFooter />
  </aside>
</div>
